<div class="container">
  <h1>Editer une tâche</h1>
  <%= form_for(@task) do |f| %>
  <div class="box">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="box">
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>
  <div class="box">
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </div>
  <div class="box">
    <%= f.submit %>
  </div>
  <% end %>
</div>
